*DS_Store
__pycache__/
*.pyc

./pygame_snake_game/WEIGHTS/Current_q_TABLE/Q_table_for_Rl_model.npy
snake-game/pygame_snake_game/WEIGHTS/Current_q_TABLE/Q_table_for_Rl_model.npy
pygame_snake_game/WEIGHTS/Current_q_TABLE/Q_table_for_Rl_model.npy
